.shared_svg_library_SteamDeckCompatVerified_kEODD {
  color: #59bf40 !important;
}

.shared_svg_library_SteamDeckCompatPlayable_mPD42 {
    color: #ffc82c !important;
}

.shared_svg_library_SteamDeckCompatUnsupported_2LAax, .shared_svg_library_SteamDeckCompatUnknown_xBqU_ {
    color: #dcdedf !important;
}