.controllerconfiguratorsummary_PillShapedIcon_1zIGH actionbuttonlegenditem_FooterGlyphSize_223Oc {
  filter: invert(100%) !important;
}

.actionbuttonlegenditem_FooterGlyphSize_223Oc {
  filter: invert(100%) !important;
}

.footericons_Background_yjs9m {
  fill: #000 !important;
}

.gamepadtabbedpage_Glyphs_N-f57 gamepadtabbedpage_Show_1ZEnd {
    filter: invert(100%) !important;
}

.controllerconfiguratorsummary_MediumGlyphIcon_2nNX3 {
    filter: invert(100%) !important;
}

.controllerconfiguratorsummary_PillShapedIcon_1zIGH controllerconfiguratorsummary_MediumGlyphIcon_2nNX3 {
    filter: invert(100%) !important; 
}

.controllerconfigurator_SectionGlyph_3AFlG {
    filter: invert(100%) !important; 
}

.controllerconfiguratorsummary_ControllerConfiguratorSummary_3TvBV.controllerconfiguratorsummary_MainMenu_36lCI {
    background: var(--BackgroundRegular);
}
