.controllerconfiguratorsummary_PillShapedIcon_1zIGH actionbuttonlegenditem_FooterGlyphSize_223Oc {
  filter: invert(100%);
}

.actionbuttonlegenditem_FooterGlyphSize_223Oc {
  filter: invert(100%);
}

.footericons_Background_yjs9m {
  fill: #000 !important;
}